.animated {
  -webkit-animation-name: example;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-fill-mode: forwards;

}


@-webkit-keyframes example {
  0% {background-color: orange; border-radius: 15px; font-size: 1em; box-shadow: inset 0 0 1em green, 0 0 1em gold;}
  25% {background-color: green; font-size: 2em; border-radius: 30px; box-shadow: inset 0 0 2em orange, 0 0 1em green;}
  50% {background-color: orange; font-size: 4em; border-radius: 45px; box-shadow: inset 0 0 4em green, 0 0 1em gold;}
  100% {background-color: green; font-size: 8.5em; border-radius: 60px; box-shadow: inset 0 0 8em orange, 0 0 1em green;}
}

#version-info {
  font-size: .7em;
}
